<h1 style="
    text-align: center;
    font-family: Arial, Helvetica;
">Recuperar Contraseña</h1>


<p style="font-family: Arial, Helvetica;">Hola <%=opciones.nombre %>, has solicitado reestablecer tu contraseña en TechZone.com</p>

<a style="
    display: block;
    font-family: Arial, Helvetica;
    padding: 1rem;
    background-color: #0000CD;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
" 
href="<%=opciones.url %>">Reestablecer contraseña</a>
 
<p style="font-family: Arial, Helvetica;">Sino puedes acceder a este enlace, visita : <%=opciones.url %></p>
<p style="font-family: Arial, Helvetica;">Si no solicitaste este e-mail puede ignorarlo</p>